# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Coverage directory used by tools like istanbul
coverage

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

cypress/integration
cypress/videos
cypress/screenshots
cypress/cucumber-json
target

#optional .vscode settings directory
.vscode